---
layout: default
---

<div class="row" style="padding:2px;">
{%- if site.posts.size > 0 -%}
  
    {%- for post in site.posts -%}
    <div class="col-md-4">
    <div class="card">
      <img src="{{post.coverphoto | relative_url}}" class="card-img-top" alt="{{post.title}}">
      <div class="card-body">
        {%- assign date_format = "%Y-%m-%d" -%}
        
        <p class="card-text"><a href="{{ post.url | relative_url }}" style="font-size: 18px;">{{ post.title | escape }}</a></p>
        <br>
        [ {{ post.date | date: date_format }} ] 
      </div>
     
    </div>
  </div>
    {%- endfor -%}
  
  
{%- endif -%}
</div>

 
  
 
